{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Confessions{% endblock %}


<h1 class="centerMe">Let the drama flow!</h1>


    <div class="marginForm">
        <div class="divCenter">
            <form action="addConfessionSubmit.php" method="post">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label for="addConfessionTitle">Title</label>
                        <input type="text" class="form-control" id="addConfessionTitle" name="addConfessionTitle"
                               placeholder="Some Clickbait Title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12 ">
                        <label for="addConfessionBody">Last Name</label>
                        <textarea class="form-control" id="addConfessionBody" name="addConfessionBody" rows="5"
                                  placeholder="It all started when..."></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
{% endblock %}
