{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="centerMe">
        <h1>CSUF Confessions</h1>
    </div>
    <div class="centerMe">
        <div>
            <a href="{% url 'confessions' %}">
                <img src="{% static 'images/tuffy.png' %}" class="centerImage" alt="Tuffy">
            </a>
        </div>
    </div>
    <div class="centerMe">
        <h3><i>...where we won't tell if you don't!</i></h3>
        <p><i>Click Tuffy to check it out</i></p>
    </div>
{% endblock %}
