[
    {
      "cpu": 1024,
      "secrets": [
        {
        "name": "DB_NAME",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CONFESSION_DB_CRED-wHIDNM:dbname::"
        },
        {
        "name": "DB_USER",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CONFESSION_DB_CRED-wHIDNM:username::"
        },
        {
        "name": "DB_PASSWORD",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CONFESSION_DB_CRED-wHIDNM:password::"
        },
        {
        "name": "DB_HOST",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CONFESSION_DB_CRED-wHIDNM:host::"
        },
        {
        "name": "DB_PORT",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CONFESSION_DB_CRED-wHIDNM:port::"
        },
        {
        "name": "SECRET_KEY",
        "valueFrom": "arn:aws:secretsmanager:us-east-1:569741890825:secret:CSUF_CONFESSIONS_SECRET_KEY-iokmUA:SECRET_KEY::"
        }
      ],
      "environment": [
        {
        "name": "ALLOWED_HOSTS",
        "value": "[\"*\"]"
        }
      ],
      "portMappings": [
        {
        "containerPort": 80
        }
      ],
      "image": "${REPOSITORY_URI}/confessions:${IMAGE_VERSION}",
      "memory": 213,
      "name": "csuf-confessions"
    }
  ]