[
    {
      "cpu": 1024,
      "environment": [
        {
        "name": "SECRET_KEY",
        "value": "SECRET_KEY"
        },
        {
        "name": "DEBUG_MODE",
        "value": "False"
        },
        {
        "name": "ALLOWED_HOSTS",
        "value": "['*']"
        }
  
      ],
      "portMappings": [
        {
        "containerPort": 80
        }
      ],
      "image": "${REPOSITORY_URI}/confessions:${IMAGE_VERSION}",
      "memory": 213,
      "name": "csuf-confessions"
    }
  ]